@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --bg: 255 255 255;
  --text: 15 23 42;
  --muted: 100 116 139;
  --card: 255 255 255;
  --border: 226 232 240;
  --primary: 0 0 0;
}
[data-theme="dark"]{
  --bg: 2 6 23;
  --text: 226 232 240;
  --muted: 148 163 184;
  --card: 15 23 42;
  --border: 30 41 59;
  --primary: 255 255 255;
}
